header {
  margin: 20px 0 65px 0;
}
header #logoOrinoco {
  width: 40%;
}
header .nav-item {
  font-size: 20px;
  padding: 0 10px 0 10px;
  text-align: center;
}
header #titleOrinoco {
  display: none;
}

footer {
  margin-top: 50px;
  background-color: white;
}
footer #bannerFab {
  display: flex;
  justify-content: center;
}
footer #bannerFab i {
  color: white;
  padding: 10px;
  border-radius: 50%;
  margin: 15px 10px 15px 10px;
  background: linear-gradient(#D3874F, 50%, #9A61DB);
}
footer #bannerNewsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner {
  text-align: center;
  background-color: white;
  margin-bottom: 80px;
  padding: 15px;
}

#cardIndex-Title {
  margin: 15px 0 15px 0;
}

.indexImg:hover {
  opacity: 0.5;
}

#msgConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#containerBtnCommand {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#recapShipTotal {
  margin-right: 10px;
  float: right;
  display: flex;
  justify-content: flex-end;
}

#sumShip {
  font-weight: bold;
}

#formShip {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#containerBtnCommand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-command {
  margin: 15px 0 15px 0;
  background-color: #ceb9ff;
  color: whitesmoke;
}
.btn-command:hover {
  background-color: #9A61DB;
  color: white;
}

.btn-command-ship {
  color: whitesmoke;
  background-color: #ceb9ff;
  min-width: 30%;
  max-width: 30%;
}
.btn-command-ship:hover {
  background-color: #9A61DB;
  color: white;
}

.btn-confirmation {
  background: linear-gradient(#9A61DB, 80%, #D3874F);
  width: 60%;
  color: whitesmoke;
}

.btnImg {
  background-color: #e6dcff;
  width: 100%;
}
.btnImg:hover {
  background-color: #9A61DB;
}

#btnDelShip {
  border: none !important;
  background: none !important;
}

.btnQte {
  background-color: #e6dcff;
}
.btnQte:hover {
  background-color: #9A61DB;
}

#cardIndex-Title {
  margin: 15px 0 15px 0;
}

.card {
  margin: 35px 0 35px 0 !important;
}
.card .indexImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.card-body .card-body-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-horizontal {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap !important;
}
.card-horizontal .img-square-wrapper {
  width: 50%;
}
.card-horizontal .card-body-product {
  width: 30%;
  padding: 10px;
  margin: 5px 10px 0 0;
  display: flex !important;
  flex-wrap: wrap !important;
}
.card-horizontal .card-body-product .card-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

@media screen and (max-width: 770px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav .navbar-brand {
    width: 50%;
  }

  .card-horizontal {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .card-horizontal .card-body-product {
    width: 100%;
    padding: 5px;
  }
}
body {
  background-color: #F3E9F1;
}

/*# sourceMappingURL=main.css.map */
