// Déclaration des variables

@import "../Utils/variables";

.btn-command{
  margin: 15px 0 15px 0;
  background-color: #ceb9ff;
  //background: linear-gradient($secondaryColor,80%, $primaryColor);
  color: whitesmoke;
  &:hover{
    background-color: #9A61DB;
    color: white;
  }
}
.btn-command-ship{
  color: whitesmoke;
  background-color: #ceb9ff;
  min-width: 30%;
  max-width: 30%;
  &:hover{
    background-color: #9A61DB;
    color: white;
  }
}
.btn-confirmation{
  background: linear-gradient($secondaryColor,80%, $primaryColor);
  width: 60%;
  color: whitesmoke;
}
.btnImg{
  background-color: #e6dcff;
  width: 100%;
  &:hover{
    background-color: #9A61DB;
  }
}
#btnDelShip{
  border: none!important;
  background:none!important;
}
.btnQte{
  background-color: #e6dcff;
  &:hover{
    background-color: #9A61DB;
  }
}