// Déclaration des variables

@import "../Utils/variables";

.card-horizontal{
  display: flex!important;
  justify-content: center;
  flex-wrap: wrap!important;
  .img-square-wrapper{
    width: 50%;
  }
  .card-body-product{
    width: 30%;
    padding: 10px;
    margin: 5px 10px 0 0;
    display: flex!important;
    flex-wrap: wrap!important;
    .card-select{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-top: 25px;
    }

  }
}