// Déclaration des variables

@import "../Utils/variables";

.card-horizontal{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .img-square-wrapper{
    width: 50%;
  }
  .card-body-product{
    width: 30%;
    display: flex!important;
    flex-direction: column;
    flex-wrap: wrap;
    .card-select{
      display: flex;
      justify-content: space-between;
      padding-top: 25px;
    }

  }
}