// Déclaration des variables

@import "../Utils/variables";
#containerBtnCommand{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  #recapShipTotal{
    margin-right: 10px;
    float: right;
    display: flex;
    justify-content: flex-end;
  }
#sumShip{
  font-weight: bold;
}
#formShip{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#containerBtnCommand{
  display: flex;
  align-items: center;
  justify-content: center;
}
