// Déclaration des variables

@import "../Utils/variables";
#containerTableShip{
  background: none;
  #bodyTableShip{
    background: none;
    border: none;
    #tableShip{
      border: 1px solid black;
      #tableBody{
      background: white;
      }
    }
  }
}
#containerBtnCommand{
  display: flex;
  align-content: center;
  justify-content: center;
}
  #recapShipTotal{
    margin-right: 10px;
    float: right;
    display: flex;
    justify-content: flex-end;
  }
#sumShip{
  font-weight: bold;
}
#formShip{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .containerAddr{
    padding: 5px;
    justify-content: space-between;
    .bodyAddr{
      padding: 20px;
      background: white;
    }
  }
}